---
layout: default
featured_image: https://source.unsplash.com/random
seo:
 - title: Blog | The In-Between
   description:
   social_image:
   twitter_card:
   keywords:
   hide-from-google: false
---

<section class="blog-page-section">

<!------------------------ Headline ------------------------>

<div class="padded-md tall-50 bg-accent-light-split-bottom blog-page-header">
    <h3 class="text-center headline dec-text">Blog</h3>
</div>


<!------------------------ Split blog loop (part 1) ------------------------>
<div class="blog-post-list bg-accent-light-split-top">

        {% for post in site.posts limit:3 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

</div>


<!------------------------ CTA Banner  ------------------------>
<div class="bg-featured-light text-light cta"> 

    <div class="text-center">
        <h2 class="editable"> A catchy heading </h2>
        <p class="editable"> This is a call-to-action to drive traffic somewhere important </p>
        <a href="#" class="button accent-button editable">Let's do this</a>
    </div>

</div> 


<!------------------------ Split blog loop (part 2) ------------------------>
<div class="blog-post-list">

        {% for post in site.posts limit:12 offset:3 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

</div>

</section>
