---
layout: default
featured_image: https://source.unsplash.com/random
seo:
 - title: Blog | The In-Between
   description:
   social_image:
   twitter_card:
   keywords:
   hide-from-google: false
---

<section class="blog-page-section ">

    <div class="top-blog-page-section bg-accent-light-split-top">
        <div class="padded-md x blog-page-header">
            <h3 class="text-center headline dec-text">Blog</h3>
        </div>
<!------------------------ Headline ------------------------>




<!------------------------ Split blog loop (part 1) ------------------------>
<!-- <div class="blog-post-list bg-accent-light-split-top"> -->

        {% for post in site.posts limit:2 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

<!-- </div> -->
</div>


<!------------------------ CTA Banner  ------------------------>
<div class="bg-featured-light text-light cta"> 

    <div class="text-center">
        <h2 class="editable"> A catchy heading </h2>
        <p class="editable"> This is a call-to-action to drive traffic somewhere important </p>
        <a href="#" class="button accent-button editable">Let's do this</a>
    </div>

</div> 


<!------------------------ Split blog loop (part 2) ------------------------>
<div class="blog-post-list">

        {% for post in site.posts limit:12 offset:2 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

</div>

</section>
