---
layout: default
featured_image: https://source.unsplash.com/random
seo:
 - title: Blog | The In-Between
   description:
   social_image:
   twitter_card:
   keywords:
   hide-from-google: false
---

<!------------------------ Headline ------------------------>

<section class="padded-md grid tall-50 bg-accent-light-split-bottom">

    <div class="col-12-middle text-center">
        <h2 class="editable headline dec-text">
            Blog 
        </h3>
    </div>

</section>


<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded-md padded-t-05 bg-accent-light-split-top">

    <div class="capped-width grid-spaceAround">

        {% for post in site.posts limit:2 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

    </div>

</section>


<!------------------------ CTA Banner  ------------------------>
<section class="bg-featured-light text-light padded-sm capped-width"> 

    <div class="capped-width-narrow text-center">
        <h2 class="editable"> A catchy heading </h2>
        <p class="editable"> This is a call-to-action to drive traffic somewhere important </p>
        <a href="#" class="button accent-button editable">Let's do this</a>
    </div>

</section> 


<!------------------------ Split blog loop (part 2) ------------------------>
<section class="padded-md">

    <div class="capped-width grid-spaceAround">

        {% for post in site.posts limit:12 offset:2 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

    </div>

</section>


