<div class="padded-2 ">
    <ul class="carousel">

        {% for topic in site.archives %}

        <li class="carousel-cell card rounded drop-shadow bg-image post-item-image bg-overlay grid-center square" style="background-image:url( '{{ topic.featured_image }}' );">
          <div>
            <h2 class="padded-tb capitalize text-light"> {{ topic.category }} </h2>
          </div>
        </li>

        {% endfor %}

        {% assign blog-page = site.pages | where: "path", "blog.html" %}
        <li class="carousel-cell card rounded drop-shadow bg-image post-item-image bg-overlay grid-center" style="background-image:url( '{{ blog-page.featured_image }}' );">
            <div>
                <h2 class="padded-tb capitalize text-light"> All </h2>
            </div>
        </li>

    </ul>

</div>


<!-- <div class="capped-width grid-center carousel padded-2" data-aos="fade-up" data-aos-duration="700" data-aos-easing="linear">

    {% for topic in site.archives %}

        <div class="col-4_sm-12 post-item padded-1">
            <a href="/{{ topic.category }}" class="blog-title">
                <div class="carousel-card drop-shadow">
                
                    <div class="bg-image square post-item-image bg-overlay grid-center" style="background-image:url( '{{ topic.featured_image }}' );">

                        <h2 class="padded-tb capitalize text-light col-middle"> {{ topic.category }} </h2>
                        
                    </div>

                </div>
            </a>
        </div>

    {% endfor %}

    {% assign blog-page = site.pages | where: "path", "blog.html" %}
    <div class="col-4_sm-12 post-item padded-1" data-aos="fade-up" data-aos-duration="700" data-aos-easing="linear">
        <a href="/blog" class="blog-title">
            <div class="card rounded drop-shadow">
            
                <div class="bg-image square post-item-image bg-overlay grid-center" style="background-image:url( '{{ blog-page.featured_image }}' );">
                    <h2 class="padded-tb capitalize text-light col-middle"> All </h2>
                </div>

            </div>
        </a>
    </div>

</div> -->

<!-- <div class="post-item padded-1 col-5_sm-10">
    <a href="/blog" class="blog-title">
        <div class="card drop-shadow rounded">
            <div class="bg-image square" style="background-image:url( '{{ page.featured_image }}' );">
                
                    <h2 class="padded-tb"> All </h2>
                
            </div>
        </div>
    </a>
</div> -->