<section class="blog-page-section">

    <div class="top-blog-page-section">

        <!------------------------ Headline ------------------------>

        <div class="padded-md blog-page-header">
            <h3 class="text-center headline dec-text">{{ page.title }}</h3>
            <p>{{ page.description_html }}</p>
        </div>

        <!------------------------ Split blog loop (part 1) ------------------------>

        {% for post in site.posts limit:2 %}

            {% include post-loop-item-square.html %}
    
        {% endfor %}

    </div>

    <div class="blog-post-list">
        {% for post in site.categories[page.category] limit:12 offset:2 %}

            {% include post-loop-item-square.html %}

        {% endfor %}
    </div>


</section>