<section class="padded-2 bg-secondary text-center">
  <h2 class="editable">Subscribe</h2>
  <p class="editable">Get my new blog posts directly to your inbox:</p>
  <div id="mc_embed_shell">
    <div id="mc_embed_signup">
      <form
        action="https://gmail.us14.list-manage.com/subscribe/post?u=8e57ad2fec534e8ad6c0105de&amp;id=1df1f145b9&amp;f_id=0046b8e5f0"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_self"
        novalidate=""
      >
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <label for="mce-FNAME"
              >First Name <span class="asterisk">*</span></label
            ><input
              type="text"
              name="FNAME"
              class="required text"
              id="mce-FNAME"
              required=""
              value=""
              placeholder="First name"
            />
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL"
              >Email Address <span class="asterisk">*</span></label
            ><input
              type="email"
              name="EMAIL"
              class="required email"
              id="mce-EMAIL"
              required=""
              value=""
              placeholder="Email address"
            />
          </div>

          <div id="mce-responses" class="clear foot">
            <div
              class="response"
              id="mce-error-response"
              style="display: none"
            ></div>
            <div
              class="response"
              id="mce-success-response"
              style="display: none"
            ></div>
          </div>
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            /* real people should not fill this in and expect good things - do
            not remove this or risk form bot signups */
            <input
              type="text"
              name="b_8e57ad2fec534e8ad6c0105de_1df1f145b9"
              tabindex="-1"
              value=""
            />
          </div>
          <div class="optionalParent">
            <div class="clear foot">
              <input
                type="submit"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="button accent-button"
                value="Subscribe"
                style="cursor: pointer; padding: 1.25rem 2rem"
              />
            </div>
          </div>
        </div>
        <p style="margin: 0px auto; text-decoration: none">
          <a
            href="http://eepurl.com/iQXEvw"
            title="Mailchimp - email marketing made easy and fun"
            style="text-decoration: none"
            ><span
              style="
                display: inline-block;
                background-color: transparent;
                text-decoration: none;
              "
              ><img
                class="refferal_badge"
                src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                alt="Intuit Mailchimp"
                style="
                  width: 100px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-decoration: none;
                  margin-top: 1rem;
                " /></span
          ></a>
        </p>
      </form>
    </div>
  </div>
</section>
