---
layout: default
pagination:
  enabled: true
  trail:
    before: 2
    after: 2
  permalink: "/page/:num/"
featured_image: https://source.unsplash.com/random
seo:
  title: Blog | The In-Between
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<section class="blog-page-section ">

    <div class="top-blog-page-section">

        <!------------------------ Headline ------------------------>

        <div class="padded-md blog-page-header">
            <h3 class="text-center headline dec-text">Blog</h3>
        </div>

        <!------------------------ Split blog loop (part 1) ------------------------>

        {% for post in paginator.posts limit:2 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

</div>


<!------------------------ CTA Banner  ------------------------>
<div class="bg-featured-light text-light cta"> 

    <div class="text-center">
        <h2 class="editable"> A catchy heading </h2>
        <p class="editable"> This is a call-to-action to drive traffic somewhere important </p>
        <a href="#" class="button accent-button editable">Let's do this</a>
    </div>

</div> 


<!------------------------ Split blog loop (part 2) ------------------------>
<div class="blog-post-list">

        {% for post in paginator.posts offset:2 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

</div>




<!------------------------ Pagination trail ------------------------>
  <div class="page-trail">
{% if paginator.page_trail %}
  {% for trail in paginator.page_trail %}

    <a {% if page.url == trail.path %} class="selected" {% endif %} href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}
    </a>

  {% endfor %}
{% endif %}
    </div>

</section>
