---
layout: default
pagination:
  enabled: true
featured_image: https://source.unsplash.com/random
seo:
  title: Blog | The In-Between
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<section class="blog-page-section ">

    <div class="top-blog-page-section">

        <!------------------------ Headline ------------------------>

        <div class="padded-md blog-page-header">
            <h3 class="text-center headline dec-text">Blog</h3>
        </div>

        <!------------------------ Split blog loop (part 1) ------------------------>

        {% for post in paginator.posts limit:2 %}

            {% include post-loop-item-square.html %}

        {% endfor %}

</div>


<!------------------------ CTA Banner  ------------------------>
<div class="bg-featured-light text-light cta"> 

    <div class="text-center">
        <h2 class="editable"> A catchy heading </h2>
        <p class="editable"> This is a call-to-action to drive traffic somewhere important </p>
        <a href="#" class="button accent-button editable">Let's do this</a>
    </div>

</div> 


<!------------------------ Split blog loop (part 2) ------------------------>
<div class="blog-post-list">

        {% for post in paginator.posts offset:2 %}

                {% include post-loop-item-square.html %}

        {% endfor %}

</div>
{% if paginator.total_pages > 1 %}
<ul>
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  </li>
  {% endif %}
</ul>
{% endif %}
</section>
